.rentabilite {
    padding: 20px;
    padding-bottom: 0;
}

h1, p {
    font-family: 'Dosis', sans-serif;
}

h1 {
    font-weight: bold;
    color: #1d70b7;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      transform: translateY(-15px);
    }
    90% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

h1:hover {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
}

p {
    transition: transform 1s;
    font-size: 25px;
}

p:hover {
    transform: scale(1.02);
}